.navbar {
    position: fixed;
    display: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
  }
  
  .navbar ul {
    list-style: none;
    display: center;
    gap: 0px;
    margin:0;
    padding: 0;
  }
  
  .navbar li {
    color: rgb(255, 0, 0);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar li:hover {
    text-decoration: underline;
  }
  